:host {
  .send-sms-wrapper {
    max-width: 356px;
    margin: 36px auto;
    padding: 0 8px;
  }

  .load-bar-wrapper {
    height: 16px;
  }

  button[type="submit"] {
    margin-top: 24px;
  }
  
}