<div class="send-sms-wrapper">
  <h3 class="text-center">SMS</h3>
  <div class="load-bar-wrapper">
    <div class="load-bar" *ngIf="smsForm.disabled">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <div class="alert" [ngClass]="{'alert-info': alert.okay, 'alert-danger': !alert.okay}" role="alert" *ngIf="alert.message">
    <button type="button" class="close" aria-label="Close" (click)="alert.message=''">
      <span aria-hidden="true">&times;</span>
    </button>
    {{alert.message}}
  </div>
  <form id="sms-form" name="sms-form" [formGroup]="smsForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="to">Send sms to</label>
      <input id="to" name="to" type="text" formControlName="to" class="form-control" placeholder="Enter number">
      <small *ngIf="toControl.hasError('required') && toControl.dirty" class="form-text text-danger">This field is required.</small>
    </div>
    <div class="form-group">
      <label for="message" class="sr-only">Message</label>
      <textarea id="message" name="message" formControlName="message" class="form-control" rows="7" placeholder="Your message"></textarea>
      <div *ngIf="messageControl.invalid && messageControl.dirty">
        <small *ngIf="messageControl.hasError('required')" class="form-text text-danger">This field is required.</small>
        <small *ngIf="messageControl.hasError('maxlength')" class="form-text text-danger">Message is too long.</small>
      </div>
    </div>
    <button id="submit-button" type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="smsForm.invalid || smsForm.disabled">Send</button>
  </form>
</div>
